.header {
  text-align: center;
  color: #02343f;
  border: 0px;
  font-size: 70px;
  padding: 10px 20px;
}

.flex_box {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}
.title {
  border: 0px;
  color: #02343f;
  text-align: center;
}
.item {
  flex: 1 1 40%;
  align-self: center;
}

.blockSpan {
  display: inline-block;
  width: 500px;
}

.imgWidth {
  width: 500px;
  height: 500px;
  /* bor */
}
