.header {
  text-align: center;
  background-color: rgb(190, 210, 211);
  color: white;
  border: 0px;
  font-size: 30px;
  padding: 10px 20px;
}

.flex_box {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

.item {
  flex: 1 1 40%;
}

.blockSpan {
  display: inline-block;
  width: 500px;
}

.imgWidth {
  width: 500px;
}
